{{- $merged := collections.Merge .Page.Params.glossary .Site.Data.glossary -}}
{{- $key := .Get 0 -}}
{{- $entry := index $merged $key -}}
{{- $text := .Inner | default $key | strings.TrimSpace | transform.Markdownify -}}

{{- if $entry -}}
<span class="glossary-term" tabindex="0" data-glossary-term="{{ $key }}">{{- $text -}}<span
    class="tooltip-content"><strong>{{ $entry.name | default $key }}</strong><span>{{ $entry.short }}</span>{{ if
    $entry.link }}<a href="{{ $entry.link }}" class="tooltip-link" target="_blank">{{ $entry.linkLocation | default
      "Learn more" }}</a>{{ end}}</span></span>
{{- else -}}
{{- $text -}}
{{- end -}}